{% extends 'base.html' %}

{% block content %}

<h1>login!</h1>

<form method="post">
        <table>
            <tr>
                <td><label for="username">Username: </label></td>
                <td><input type="text" name="username" value="{{ username }}"></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>

            <input type="submit">
</form>
<br>
<p>New here? <a href="/signup">Create an account</a></p>

<p class="error">{{ error }}</p>

{% endblock %}
